*DS_Store
node_modules
build
dist
.vscode/
/metamask
/.metamask
.idea
*.log
*.png

# Non zero install strategy
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!userData/**/*.log